<footer class="main-footer">
	<div class="main-footer-wrapper">
		<div class="container">
			<div class="main-footer-cols">
				<div class="main-footer-nav">
					<div class="main-footer-logo">
						<a href="{{ site.url }}">
							<img src="{{ 'logo-orange.svg'|theme_image }}" alt="Logo">
						</a>
					</div>
					<div class="main-footer-contact">
						<p>{{ options.contact.address }}</p>
						<p><strong>Tél :</strong> {{ options.contact.phone }}</p>
						<p><a href="mailto:{{ options.contact.email }}">{{ options.contact.email }}</a></p>
					</div>
				</div>
				<nav class="main-footer-nav">
					{% include 'components/menu.twig' with { items: menus['footer-nav-1'].get_items } %}
				</nav>
				<nav class="main-footer-nav">
					{% include 'components/menu.twig' with { items: menus['footer-nav-2'].get_items } %}
				</nav>
				<nav class="main-footer-nav">
					{% include 'components/menu.twig' with { items: menus['footer-nav-3'].get_items } %}
				</nav>
			</div>
		</div>
	</div>
	<aside class="main-footer-sub">
		<div class="container">
			{{ options.copyright }}
		</div>
	</aside>
</footer>
